<div class="page-wrapper">
    <h1>{{pageDescription.HEADER}}</h1>

    <div class="random-joke-wrapper">
        <h2>{{pageDescription.RANDOM_JOKE_HEADER}}</h2>
        <button
            class="random-joke-button"
            (click)="getJoke(jokeType.RANDOM, null)"
            ><b>{{jokeType.RANDOM}} Joke</b>
        </button>
    </div><br>

    <div class="button-types-wrapper">
        <h2>{{pageDescription.TYPE_JOKE_HEADER}}</h2>
        <button 
            *ngFor="let jType of jokeType | keyvalue | slice:1"
            (click)="getJoke(jType.value, null)"
            >{{jType.value}}
        </button>
    </div><br>

    <div class="button-part-types-wrapper">
        <h2>{{pageDescription.PART_TYPE_JOKE_HEADER}}</h2>
        <button 
            *ngFor="let jLength of jokeLength | keyvalue"
            (click)="getJoke(jokeType.RANDOM, jLength.value)"
            >{{jLength.value}}
        </button>
    </div><br>

    <h2>TODO: implement blacklist flags</h2>
</div>
