<div class="activity-wrapper">
    <h1>Activity Page</h1>
    <h2>Click to get an activity suggestion</h2>
    <button
        class="random-activity-button"
        (click)="getActivity(activityType.RANDOM)"
        ><b>{{activityType.RANDOM}} activity</b>
    </button>
    
    <h2>Looking for a specific type? Check out the types below</h2>
    <div class="button-types-wrapper">
        <button 
            *ngFor="let actType of activityType | keyvalue | slice:1"
            (click)="getActivity(actType.value)"
            >{{actType.value}}
        </button>
    </div>
</div>
