/* You can add global styles to this file, and also import other style files */
button {
    margin: 15px;
    display: inline-block;
    text-align: center;
    background-color:rgb(187, 225, 238);
    border-radius: 8px;
    border: none;
    font-size: 15px;
    width: fit-content;
    padding: 10px;
}

.mat-dialog-container {
    max-width: 100% !important;
    max-height: 80% !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
